/* site.css */
body { font-family: Arial, background-color: #f4f4f4; margin:0; }

header { background: #005f73; color:white; padding: 1rem; text-align:center; }

main  { max-width: 800px; margin: 2rem auto; padding: 1rem; background: white; }

/* Mobil: 600px'e kadar ekran genişliği varsa arka plan sarı olsun */
@media (max-width:600px){
    body { background-color: #ffd60a; }
}